<template>
	<div>
		<page-title :title="$t('tex-trainer-title')" :subtitle="$t('tex-trainer-info')" :button="$t('learn-more')" buttonhref="https://www.wikipedia.org/wiki/TeX"/>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-6 mb-4">
					<div class="card shadow">
						<div class="card-header bg-var text-white">{{$t('tex-trainer-input')}}</div>
						<div class="card-body" style="min-height:8em">
							<div class="form-group">
								<textarea class="form-control" v-model="text" :placeholder="$t('tex-trainer-input-info')"/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<div class="card shadow">
						<div class="card-header bg-var text-white">{{$t('tex-trainer-output')}}</div>
						<div class="card-body" style="min-height:8em">
							<div v-html="texHtml"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<div class="card shadow">
						<div class="card-header bg-var text-white">{{$t('examples')}}</div>
						<div class="card-body" style="min-height:8em">
							<p>{{$t('select-example')}}</p>
							<select class="form-control" v-model="example">
								<option value='f(x)=mx+t'>{{$t('equation-linear')}}</option>
								<option value='f(x)=ax^2+bx+c'>{{$t('equation-quadratic')}}</option>
								<option value='x_{1,2}=\frac{-b\pm\sqrt{b^2-4ac}}{2a}'>{{$t('equation-quadratic-solution')}}</option>
								<option value='f(x)=\frac{1}{\sqrt{2\pi\sigma^2}}\exp\left(-\frac{(x-\mu)^2}{2\sigma^2}\right)'>{{$t('equation-gauss')}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<div class="card shadow">
						<div class="card-header bg-var text-white">{{$t('hints')}}</div>
						<div class="card-body">
							<p>{{$t('tex-trainer-help')}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';
	import color from 'Main/js/color.js';
	import texit from 'Main/js/texit.js';


	export default {
		components: { PageTitle },
		data: function() {
			return {
				text:'',
				example:'',
				texHtml:''
			}
		},
		mounted: function() {
			color.setBgVar();
		},
		watch: {
			text: function() {
				this.texHtml=texit.texToHtml(this.text,true);
			},
			example: function() {
				this.text=this.example;
			}
		}
	}

</script>

<style src='../../../node_modules/katex/dist/katex.min.css'/>





<i18n>
{
	"de": {
		"tex-trainer-title": "TeX-Formel-Trainer",
		"tex-trainer-info": "Bereits 1977 began Donald E. Knuth mit der Entwicklung von TeX, das den professionellen Schritftsatz mathematischer Formeln ermöglicht. Noch heute wird TeX aktiv entwickelt und auch auf Webseiten für den Satz von Formeln verwendet. Bekannte Beispiele sind z.B. Moodle oder Wikipedia, die ebenfalls den TeX-Syntax unterstützen.",
		"learn-more": "Wikipedia Artikel",
		"tex-trainer-input": "Eingabe – TeX",
		"tex-trainer-input-info": "Bitte geben Sie hier die Formel im TEX-Syntax ein!",
		"tex-trainer-output": "Ausgabe – Formel",
		"examples": "Beispiele",
		"select-example": "Wählen Sie ein Beispiel",
		"equation-linear": "Lineare Gleichung",
		"equation-quadratic": "Quadratische Gleichung",
		"equation-quadratic-solution": "Lösungsformel quadratische Gleichung",
		"equation-gauss": "Gaussche Normalverteilung",
		"hints": "Hiweise",
		"tex-trainer-help": "Die $-Zeichen zu Beginn und Ende einer Formel sind hier nicht notwendig, Fehler werden in roter Farbe angezeigt."
	},
	"en": {
		"tex-trainer-title": "TeX formula trainer",
		"tex-trainer-info": "Already in 1977, Donald E. Knuth began developing TeX, which enables professional typesetting of mathematical formulas. Even today, TeX is actively being developed and used on web pages for rendering formulas. Known examples are e.g. Moodle or Wikipedia, which also support the TeX syntax.",
		"learn-more": "Wikipedia article (German)",
		"tex-trainer-input": "Input – TeX",
		"tex-trainer-input-info": "Please enter the formula in TEX syntax here!",
		"tex-trainer-output": "Output – formula",
		"examples": "Examples",
		"select-example": "Select an example",
		"equation-linear": "Linear equation",
		"equation-quadratic": "Quadratic equation",
		"equation-quadratic-solution": "Solution formula quadratic equation",
		"equation-gauss": "Gaussian normal distribution",
		"hints": "Hints",
		"tex-trainer-help": "The $ -signs at the beginning and end of a formula are not necessary here, errors are displayed in red."
	}
}
</i18n>
